.ProductList  {
  display: flex;
  justify-content: space-around;
  object-fit: cover;
  

}
/*.ProductList .Product img {
  width: 100%;
}
.ProductList img {
  width: 300px;
  height: 300px;
}*/
.Product {
  width: 100px;
}
.Product img {
  width: 100%;
}