* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Amatic SC', cursive;
  color: black;
  font-weight: 700;
  
}
/*.Layout {
  display: grid;
  grid-template-areas:
  "header header"
  "aside main"
  "footer footer";
  grid-template-columns: 200px 1fr;

}*/

.Layout {
  max-width: 1200px;
  margin: 0 auto;

}
.Layout .content-wrapper {
  max-width: 1200px;
}
.content-wrapper {
  display: flex;

}

aside {
  flex: 1 0 20%;
}

main {
  flex: 3 0 80%;
}




header, main, aside, footer {
  max-width: 1200px; /* чтобы контент не занимал всю ширину экрана */
  width: 100%; /* чтобы контент занимал всю доступную ширину внутри родительского контейнера */
  margin: 0 auto; /* чтобы контент был выровнен по центру */
}
.Layout header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;


}
.Layout aside {
  grid-area: aside;


}
.Layout main {
  grid-area: main;
  
}
.Layout footer {
  grid-area: footer;
}
.Layout .logo {
  max-width: 100px;
  display: flex;
  align-items: center;
}
.logo img {
  max-width: 80px;

}
.navmonth {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px 10px;

}
header {
  margin-bottom: 0;
  

}
aside {
  margin-top: 0;
}
.icon {
  display: flex;
}

footer {
  max-width: 1200px;
  height: auto;
  background-color: var(--clr-bg) ;
}
 .row {
  display: flex;
  padding: 50px 0;
 }

 .col-4 {
  flex: 33%;
  max-width: 33%;
}
 

.container {
  width: 960px;
  margin: 0 auto;
}
.col-12 {
  width: 100%;
}
.social-media img  {
  width: 50px;
  height:50px;
  color: aqua;
}
.follow {
  padding: 0 10px;
}

.logo.two {
  margin: 0 auto;
  border-bottom: 2px solid black;
  
}
.text-center {
  text-align: center;
} 