
*,
*::before,
*::after {
  box-sizing: border-box;
}
.About {
  display: grid;
  min-height: 100vh;
  place-items: center;
  line-height: 1.6;
  background-color: green;
  
}
.card {
  color: var();
  background-image: url(../assets/bycyclee.jpg);
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
}
.card-content {
  padding: 1.5rem;
  background-color: linear-gradient hsl(0 0% 0% / 0), hsl(255 0% 50% /0.2) 10%, hsl(0 0% 0% / 1);

}

.card-title {
  position: relative;
  width: max-content;
}
.card-title::after {
  content: " ";
  position: absolute;
  height: 4px;
  left: 0;
  bottom: 0;
  width: 100px;
  background: var();

}
