*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.CategoryList ul {
  /*display: flex;
  flex-direction: column;*/
  list-style-type: none;
  padding: 0;
  margin: 0;
 
 
}
.CategoryList li {
  margin-bottom: 10px;
}

.CategoryList a {
  text-decoration: none;
  text-align: start;
  color: var(--clr-brown);
  font-size: 24px;
  transition: margin-right 2s ease-in-out;
  
}
 .CategoryList {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 2px solid saddlebrown;
  border-left: 2px solid   saddlebrown;
  border-top: 2px solid  palevioletred ;
  border-right: 2px solid palevioletred;
  --skew-angle: -5deg;
                
  
  
  
 }

 @media screen and(max-width:1152px) {
  .CategoryList {
    width: 57px;
    transition: .3s;
    
  }

  .CategoryList li {
    margin-bottom: 0;
    margin-right: 10px;
  }
}
 
