:root {
  --clr-neon:hsl( 30, 4%, 54%);
  --clr-bg: hsl(69, 60%, 64%);
  --clr-brown:hsl(10, 9%, 33%);

}
.navs {
  display: flex;
  list-style-type: none;  
}



.navmonth {
    background-color: var(--clr-bg) ;
}

.NavItem a {
  color: white;
  text-decoration: none;
  color: var(--clr-brown);
  padding: 5px 20px ;
  font-size: 1rem;
  font-size: 24px;
 
}



@media (max-width: 800px) {
  .nav .navs {
    flex-direction: column;
    margin: 1rem 0;
  }
}


